* {
    box-sizing: border-box;
}

@media (max-width: 480px) {

    body {
        background-color: black;
    }

    #header-div {
        height: 20vh;
        width: 100vw;
        margin: 0;
        overflow: hidden;
        position: fixed;
        z-index: 9;
    }

    #site-title {
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        height: 20vh;
        width: 100vw;
        display: flex;
        background-color: black;
        box-shadow: 0 4px 15px #9fa898;
        color: white;
        margin: 0 auto;
        padding: 0 20px 0 20px;
    }

    #logo-container {
        display: flex;
        width: 70vw;
        height: 16vh;
        margin: 0;
    }

    #logo-container img {
        object-fit: fill;
    }

    #hamburger-btn {
        display: block;
        font-size: 2rem;
        width: fit-content;
        background: none;
        border: none;
        margin: 0;
        cursor: pointer;
        padding: 0;
        color: white;
    }

    #to-instagram {
        display: none;
    }

    #nav-menu, #nav-menu ul, #nav-menu li, #nav-menu button {
        display: none;
    }

    #page-content {
        min-height: 45vh;
        height: fit-content;
        width: 100vw;
        margin: 20vh auto 2.5vh auto;
    }

    #menu-overlay {
        height: 42vh;
        width: 85%;
        position: fixed;
        right: 0;
        background-color: #000000e8;
        margin-top: 20vh;
        padding-right: 25px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        box-shadow:  0 0 50px 25px #00000099;
        z-index: 10;
        
    }

    #menu-overlay ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .overlay-btns {
        width: 100%;
        text-align: right;
        height: 8vh;
        font-size: 1.2rem;
        color: whitesmoke;
        background: none;
        border: none;
        margin: 0;
        letter-spacing: 2px;
        position: relative;
    }

    .overlay-btns:hover {
        color: #E6C068;
    }

    #social-footer {
        height: 7vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:5vh;
    }

    #ham-to-phone {
        width: fit-content;
        background: none;
        border: none;
        color: #E6C068;
        margin: 0 5px 0 10px;
    }

    #ham-to-instagram {
        width: fit-content;
        background: none;
        border: none;
        color: #E6C068;
        margin: 0 10px 0 5px;
    }

    /* HOME */

    #slideshow-div {
        width: 100%;
        height: 35vh;
        overflow: hidden;
        position: relative;
        top: 2vh;
    }

    .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
        object-fit: cover;
        z-index: 1;
    }

    .slide.active {
        opacity: 1;
        z-index: 2;
        transform: translateX(0);
    }

    .slide.out-left {
        opacity: 0;
        transform: translateX(-100%);
        z-index: 0;
    }

    .slide.out-right {
        z-index: 0;
        opacity: 0;
        transform: translateX(100%);
    }

    .slide.in-left {
        transform: translateX(-100%);
        opacity: 1;
        z-index: 1;
    }

    .slide.in-right {
        transform: translateX(100%);
        opacity: 1;
        z-index: 1;
    }
    
    .nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #00000097;
        color: #E6C068;
        border: none;
        border-radius: 50px;
        font-size: 2rem;
        padding: 0.4rem 1rem 0.6rem 0.9rem;
        cursor: pointer;
        z-index: 3;
    }

    .nav.prev {
        left: 10px;
    }

    .nav.next {
        right: 10px;
    }

    .vignette-overlay {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; 
        box-shadow: inset 0 0 50px 25px #00000099;
        z-index: 2;
    }

    #licensing {
        height: fit-content;
        width: 100vw;
        display: flex;
        background-color: black;
        padding: 15px 0;
    }

    #licensing p {
        text-align: center;
        margin: auto 10px;
        font-size: 0.7rem;
        color: #E6C068;
        font-family: Arial, Helvetica, sans-serif;
    }
    /* ABOUT ME */

    #page-title {
        height: 8vh;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .underline {
        height: 2px;
        background-color: #E6C068;
        width: 60%;
        margin: 5px auto;
        border-radius: 1px;
        display: block;
    }

    #page-title p {
        margin: 0;
        font-size: 1.6rem;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        letter-spacing: 7px;
        font-weight: 600;
    }

    #about-me {
        height: 50vh;
        width: 85%;
        margin: 0 auto;
        background-color: #151515;
        color: whitesmoke;
        padding: 30px;
        overflow-y: scroll;
        font-family: Arial, Helvetica, sans-serif;
        font-size: clamp(0.5rem, 3.6vw, 1rem);
        text-align: justify;
    }

    #headshot {
        background-color: black;
        height: 12vh;
        width: 35%;
        float: left;
        margin: 0 20px 5px 0;
    }

    #about-me p {
        margin: 0;
    }

    /* PORTFOLIO */

    #portfolio-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90vw;
        align-items: center;
        height: fit-content;
        margin: 0 auto;
        gap: 5px;
    }

    .img-frame {
        height: 12vh;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
        
    }

    .portfolio-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 50%;
    }

    /* TESTING */
    /*
    .project-div {
        height: fit-content;
        width: 90vw;
        overflow: hidden;
    }

    .project-btn {
        width: 100%;
        height: 7vh;
        text-align: left;
        font-size: 1.2rem;
        padding-left: 20px;
        background-color: #151515;
        color: whitesmoke;
        border: 1px solid #E6C068;
    }

    .project-content {
        background-color: white;
        height: 30vh;
        width: 100%;
        position: relative;
    }

    .project-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }

    .slideshow {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    .slideshow-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .slideshow-nav.prev {
        left: 0.5rem;
    }

    .slideshow-nav.next {
        right: 0.5rem;
    }
    
    */

    /* RATES */

    #rates-summary {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .dropdown-btn {
        width: 90vw;
        height: 7vh;
        text-align: left;
        padding-left: 20px;
        font-size: 1.2rem;
        background-color: #151515;
        color: whitesmoke;
        border: 1px solid #E6C068;
    }

    .dropdown-content {
        margin: 10px 0;
        transition: max-height 0.3s ease;
        overflow: hidden;
        background-color: #151515;
        height: fit-content;
        width: 90vw;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        color: whitesmoke;
    }

    .price {
        font-weight: bold;
    }

    .emp {
        font-size: 1.3rem;
    }

    .hidden {
        display: none;
    }

    .visible {
    display: block;
    }

    .open {
        background-color: #E6C068;
        color: black;
    }

    #rates-summary img {
        width: 100%;
        height: auto;
    }

    /* CONTACT */
    #contact-btns {
        height: fit-content;
        width: 100%;
        margin: 0 auto 15px auto;
        display: flex;
        flex-flow: column nowrap;
        align-items:flex-start;
        justify-content: center;
        padding-left: 22.5vw;
    }

    #contact-btns button {
        height: 100%;
        background: none;
        border: none;
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
        color: #E6C068;
        margin: 5px;
        text-align: center;
        padding: auto;
    }

    #contact-btns i {
        margin: 0;
        padding-right: 10px;
    }

    .contact-form-btn {
        width: 90%;
        height: 7vh;
        margin: 0 auto;
        text-align: center;
        font-size: 1.2rem;
        background-color: #151515;
        color: whitesmoke;
        border: 2px solid #E6C068;
        display: block;
    }

    .contact-form-btn:hover {
        color: black;
        background-color: #E6C068;
    }

    form {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
        padding: 10px;
        border: 2px solid #E6C068;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 90%;
        height: fit-content;
    }

    form p {
        font-size: 1.1rem;
    }

    form input, form textarea {
        border: none;
        background-color: #151515;
    }

    form input:focus, form textarea:focus {
        outline: 3px solid #E6C068;
        border: none;
        color: whitesmoke;
    }

    form input[type="radio"]:focus {
        outline: none;
    }

    form button:hover {
        background-color: #E6C068;
        color: black;
    }

    fieldset {
        border: none;
        margin: 5px auto;
    }

    #contact-name {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 9vh;
        gap: 0 15px;
    }

    #contact-name p {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #contact-name input {
        width: 100%;
        height: 30px;
        margin: 0 auto;
        font-size: 0.9rem;
        padding-left: 8px;
    }

    #first-name {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    #last-name {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }


    #contact-message {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-items: space-around;
    }

    #contact-message p {
        margin: 0 auto;
        padding-bottom: 6px;
    }

    #contact-message textarea {
        font-family: Arial, Helvetica, sans-serif;
        width: 80vw;
        max-width: 80vw;
        min-width: 80vw;
        height: 8vh;
        min-height: 8vh;
        max-height: 15vh;
        margin: 5px auto;
        padding: 8px;
    }

    #contact-preference {
        width: 100%;
        height: 15vh;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
    }

    #contact-preference p {
        margin: 0;
        text-align: center;
    }

    #contact-preference input[type="radio"] {
        margin: 0 auto;
        width: 8%;  
    }

    #contact-preference label {
        margin: 0 auto;
        width: 60%;
        padding-left: 35px;
    }    

    #phone-input {
        display: block;
        height: 25px;
        width: 170px;
        padding-left: 8px;
        border: none;
    }

    #email-input {
        display: none;
        height: 25px;
        width: 200px;
        text-align: center;
    }

    button[type="submit"] {
        width: 50%;
        height: 5vh;
        margin: 15px auto 5px auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        border: 3px solid #E6C068;
        background-color: black;
        color: white;
    }

}


@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

}


@media (min-width: 1025px) {
/*
    #header-div {
        height: 28%;
        width: 100%;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
    }

    #site-title {
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        height: 75%;
        background-color: black;
        width: 100%;
        display: flex;
        color: white;
    }

    #logo-container {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 5px 5px 5px 40px;
    }

    #logo-container img {
        object-fit: contain;  
    }

    #hamburger-btn {
        display: none;
    }


    #to-instagram {
        width: fit-content;
        padding-right: 50px;
        background-color: black;
        border: none;
        justify-self: flex-end;
        color: white;
    }

    #nav-menu {
        height: 25%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        background-color: white;
    }

    #nav-menu ul {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        justify-content: center;
        width: 65%;
        margin: 0 auto;
        padding: 1px;
    }

    #nav-menu li {
        align-self: center;
    }

    #nav-menu button {
        font-size: 18px;
        width: 140px;
        border: none;
        background: none;
    }

    #menu-overlay {
        display: none;
    }

    HOME

    .home {
        border-top: 1px solid black;
        background: linear-gradient(black, white);
        height: 72%;
        width: 100%;
        margin: 0 auto;
    }

    #slideshow-div {
        position: relative;
        width: 90%;
        max-width: 1000px;
        height: 75%;
        margin: 60px auto 0 auto;
        overflow: hidden;
        box-shadow: 0px 0px 20px 2px #35343484;
    }

    #slideshow-div img {
        height: 100%;
        width: 100%;
        object-fit: cover;       
    }


    .vignette-overlay {
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; 
        box-shadow: inset 0 0 50px 25px #00000099;
        z-index: 2;
    }

    #licensing {
        height: 10%;
        width: 70vw;
        margin: 20px auto 0 auto;
        display: flex;
        justify-content: center;
    }

    #licensing p {
        text-align: center;
        margin: auto;
        font-size: 1rem;
        color: black;
    }

    ABOUT 

    .about {
        border-top: 1px solid black;
        background: linear-gradient(black, white);
        height: 72%;
        width: 100%;
        margin: 0 auto;
    }

    #page-title {
        height: 20%;
        width: 100%;
        background-color: none;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
    }

    .underline {
        height: 2px;
        background-color: white;
        width: 50%;
        margin: 10px auto;
        border-radius: 1px;
        display: block;
    }

    #page-title p {
        margin: 0;
        font-size: 1.7rem;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        letter-spacing: 7px;
        font-weight: 600;
    }

    #about-me {
        height: fit-content;
        width: 75%;
        margin: 0 auto;
        background-color: whitesmoke;
        padding: 20px 30px;
    }

    #about-me p {
        margin: 0;
        font-size: clamp(1rem, 2vw, 1.3rem);
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
*/
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#about-me::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#page-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#page-content.loading {
  opacity: 0;
}

#menu-overlay {
    display: none;
}

#menu-overlay.active {
  display: flex;
}


/*
#header-div {
    height: 28vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
}

#site-title {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    border-bottom: 4px solid black;
    background-color: black;
    box-shadow: 0 4px 15px #9fa898;
    color: white;
}   

#logo-container {
    display: flex;
    align-self: center;
    height: 22vh;
    padding: 15px 30px;
    justify-self: flex-start;
}

#logo-container img {
    object-fit: cover;  
}

#hamburger-btn {
    display: none;
}

#to-instagram {
    width: fit-content;
    margin-right: 2vw;
    background-color: black;
    border: none;
    justify-self: flex-end;
}

#site-title i {
     color: white;
     text-align: right;
}

#nav-menu {
    height: 25%;
    width: 100%;
    display: flex;
}

#nav-menu ul {
    display:flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    padding: 1px;
}

#nav-menu li {
    align-self: center;
}

#nav-menu li:hover {
    border-bottom: 2px solid black;
}

#nav-menu button {
    font-size: 18px;
    width: 120px;
    background: none;
    border: none;
}

#page-content {

}

.home {
    border-top: 1px solid black;
    background: linear-gradient(black, white);
    height: 68vh;
    width: 100%;
    margin: 0 auto;
}

.about {
    background: linear-gradient(black, white);
}

.portfolio {
    background: linear-gradient(black, white);
}

.rates {

}

.contact {

}

HOME
#slideshow-div {
    position: relative;
    width: 90%;
    height: 50vh;
    margin: 60px auto 0 auto;
    overflow: hidden;
    box-shadow: 0px 0px 20px 2px #35343484;
}

.vignette-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  box-shadow: inset 0 0 50px 25px #00000099;
  z-index: 2;
}

#slideshow-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#licensing {
    height: 10vh;
    width: 70vw;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
}

#licensing p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    font-size: 12px;
}

ABOUT ME
#page-title {
    height: 20%;
    width: 100%;
    background-color: none;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-title p {
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 8px;
    font-weight: 600;
}

#about-me {
    height: fit-content;
    width: 80%;
    margin:0 auto;
    background-color: white;
    padding: 20px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px 10px #7f7e7e78;
}

#about-me p {
    margin: 0;
    font-size: 18px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

PORTFOLIO
#portfolio-container {
    background-color: white;
    width: 815px;
    height: fit-content;
    margin: 0 auto 10px auto;
    padding: 15px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 250px 250px 250px;
    gap: 15px;
    justify-content: center;
    box-shadow: 0 0 50px 10px #7f7e7e78;
}

.img-container {
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.portfolio-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

*/