* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: none;
    background-color: black;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* HEADER */

#header {
    height: 16vh;
    width: 100%;
    margin: 0;
    position: fixed;
    padding: 15px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 35px #3b3b3a8c;
    z-index: 10;
    overflow: hidden;
}

#logo-container {
    height: auto;
    width: 25vw;
    max-width: 140px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

#logo-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* PAGE CONTENT */

#page-content {
    width: 100vw;
    height: 66vh;
    padding-top: 16vh;
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 

}

#page-title-text {
    font-size: 1.8rem;
}

#login-form, #admin-ui {
  display: none;
}

#login-form {
    background-color: #151515;
    display: flex;
    flex-flow: column wrap;
    width: 80vw;
    max-width: 525px;
    height: 25vh;
    padding: 2.5vh 0;
    margin: 4vh auto 0 auto;
    justify-content: space-around;
    align-items: center;
}

#login-form input {
    border: none;
    height: 5vh;
    width: 65vw;
    max-width: 450px;
    background-color: black;
    padding: 10px;
    font-size: 1rem;
    color: whitesmoke;
}

#login-form input:focus {
    outline: 2px solid #E6C068;
}

#email {
    display: block;
}

#password {
    display: block;
}

#login-btn {
    display: block;
    width: 35vw;
    max-width: 315px;
    height: 5vh;
    margin: 1vh 0 0 0;
    background-color: black;
    border: none;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-weight: bold;
}

#login-btn:hover {
    background-color: #E6C068;
    color: black;
}

#admin-ui {
    background-color: black;
    height: 4vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#logout-btn {
    background-color: black;
    color: whitesmoke;
    border: 2px solid #E6C068;
    height: 100%;
    width: 25vw;
    min-width: 145px;
    margin: 1rem;
    font-size: 1rem;
}

#logout-btn:hover {
    background-color: #E6C068;
    color: black;
}

#feature-menu {
    display: none;
    flex-flow: column nowrap;
    height: 12vh;
    width: 100%;
    margin: 3vh auto 0 auto;
    justify-content: space-between;
}

#feature-menu button {
    background-color: #151515;
    border: 2px solid #E6C068;
    color: whitesmoke;
    font-size: 1rem;
    margin: 0 auto;
    width: 90%;
    height: 5vh;
}

#feature-menu button:hover {
    background-color: #E6C068;
    color: black;
}

#status-placeholder {
    margin: 0 auto;
    height: 4.75vh;
    width: 100%;
}

#status {
    background: linear-gradient(#a7883f, #E6C068, #a7883f);
    color: black;
    text-align: center;
    font-size: 0.85rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 8px;
    display: none;
}

/* UPLOAD PHOTOS */

#upload-photos {
    display: none;
    height: 51.5vh;
    margin-top: 3vh;
}

#page-title {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
}

h2 {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 7px;
}

.underline {
    height: 2px;
    width: 70%;
    margin: 8px auto 0 auto;
    border-radius: 1px;
    display: block;
    background-color: #E6C068;
    
}

#files {
    height: fit-content;
    max-height: 50vh;
    width: 100%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    scroll-behavior: auto;
}

#selected-files {
    height: fit-content;
    width: 90%;
    background-color: #151515;
    max-height: 38vh;
    overflow-y: scroll;
    color: whitesmoke;
    padding: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    
}

#selected-files::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#file-control {
    width: 90vw;
    height: 12vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

#content-controls {
    height:5vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#clear-all-btn {
    background-color: #151515;
    border: 2px solid #E6C068;
    color: whitesmoke;
    font-size: 1rem;
    flex-grow: 1;
    flex-basis: 22.5vw;
    display: none;
}

input[type="file"] {
    padding: 0;
    margin: 0;
    display: none; 
}

.custom-file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    border: 2px solid #E6C068;
    color: whitesmoke;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45vw;
}

.custom-file-upload:hover {
    background-color: #E6C068;
    color: black;
}

#done-btn {
    background-color: #151515;
    border: 2px solid #E6C068;
    color: whitesmoke;
    font-size: 1rem;
    flex-grow: 1;
    flex-basis: 22.5vw;
    display: none;
}

#upload-controls {
    height:5vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
}

#upload-back-btn {
    background-color: #151515;
    border: 2px solid #E6C068;
    color: whitesmoke;
    font-size: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 22.5vw;
}

#file-destination {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #151515;
    border: 2px solid #E6C068;
    text-align-last: center;
    text-align: center;
    color: whitesmoke;
    font-size: 1rem;
    background-image: url("data:image/svg+xml;utf8,<svg fill='whitesmoke' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.1rem;
    flex-basis: 45vw;
    flex-grow: 1;
    display: none;
}

select:hover {
  background-color: #E6C068;
  color: black;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
}

#upload-btn {
    background-color: #151515;
    border: 2px solid #E6C068;
    color: whitesmoke;
    font-size: 1rem;
    flex-grow: 1;
    flex-basis: 22.5vw;
    display: none;
}

button:hover {
    background-color: #E6C068;
    color: black;
}

/* SORT PHOTOS */

#sort-photos {
    display: none;
    height: 52vh;
}

#gallery-select {
    height: 2.5vh;
    width: fit-content;
    margin: 3vh auto 2vh auto;
}

#gallery-select button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
}

#gallery-select button:hover {
   color: #E6C068;
}

.viewing {
    color: #E6C068;
}

#sorting-gallery {
    height: 36.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 80vw;
    margin: 0 auto;
    display: none;
}

#sorting-gallery::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#sorting-gallery .img-container {
  height: 25vh;
  width: 100%;
  position: relative;
  justify-self: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: zoom-in;
  max-width: 100%;
}

#sorting-gallery .special {
    height: 12vh;
}

#sorting-gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 50%;
    z-index: 1;
}

#sorting-gallery button {
    border: none;
    background: none;
}

.img-controls-div {
    position: absolute;
    top: 0;
    width: 30%; 
    height: 100%;
    background-color: #00000066; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    pointer-events: none; 
}

.img-right {
    right: 0;
}

.img-left {
    left: 0;
}

.img-controls-div button {
    pointer-events: auto; 
    background: none;
    border: none;
    margin: 5px;
    cursor: pointer;
    color: #E6C068;
}

.img-controls-div {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#sorting-gallery div:hover .img-controls-div {
    opacity: 1;
}

.to-top {
    font-size: 18px;
}

.img-index-display {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    color: #E6C068;
    pointer-events: none;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
    font-weight: bold;
}

.trash-btn {
    font-size: 18px;
}

.sort-btn {
    font-size: 18px;
}

.swap {
    font-size: 18px;
}

#sort-controls {
    height: 5vh;
    width: 75vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    margin: 3vh auto;
    display: none;
}

#sort-controls button:hover {
    background-color: #E6C068;
    color: black;
}

#sort-back-btn {
    background-color: #151515;
    border: 2px solid #E6C068;
    color: whitesmoke;
    font-size: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45vw;
    display: block;
}

#save-order-btn {
    background-color: #151515;
    border: 2px solid #E6C068;
    color: whitesmoke;
    font-size: 1rem;
    flex-grow: 1;
    flex-basis: 45vw;
    display: none;
}

#sorting-gallery i {
    height: 100%;
    width: 100%;
    pointer-events: none;
}
#progress-bar {
    position: absolute;
    left: 0;
    z-index: 40;
    width: 100%;
}

#progress-bar-container {
  width: 80%;
  height: 2.5vh;
  background-color: #ddd;
  border-radius: 10px;
  margin: 10px auto;
  overflow: hidden;
  display: none;

}

#progress-bar-visual {
  height: 100%;
  width: 0%;
  background-color: #E6C068;
  border-radius: 10px;
  transition: width 0.3s ease;
}

#progress-label {
  display: none;
  text-align: center;
  margin-top: 5px;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

#footer {
    height: 8vh;
    width: 100%;
    box-shadow: 0 -5px 35px #3b3b3a8c;
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: center;
    background-color: black;
}